<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver" />
                <property name="url" value="jdbc:mysql://localhost:3306/hlp?useUnicode=true&amp;characterEncoding=UTF-8&amp;zeroDateTimeBehavior=convertToNull" />
                <property name="username" value="root" />
                <property name="password" value="1234" />
            </dataSource>
        </environment>
    </environments>
	-->
	<typeAliases>
		<!-- 导入此包下的所有类，相当于注册。。 -->
		<package name="com.hy.dao.mybatis.*"/>
	</typeAliases>
	
<!--     <mappers> -->
<!--         <mapper resource="com/bhe/dao/mapper/UserDaoMapper.xml"/> -->
<!--     </mappers> -->
</configuration>