#foreach ($data in $datalist)
	<tr>
		<td>${data.name}</td>
		<td>${data.usercount}</td>
		<td class="J_log"><a>查看</a>
			<div class="logCn pa" style="max-height: 70px; max-width:700px;" data-id="$!{data.id}" >
				<ul>
				</ul>
			</div></td>
		<td>
			<a href="javascript:updateData(${data.id})">编辑</a>
			<a href="javascript:deleteData(${data.id})">删除</a>
		</td>
	</tr>
#end