#foreach ($data in $datalist)
	<tr>
		<td><input class="js-creative-id" value="$!{data.id}" type="checkbox" /></td>
		<td><a href="javascript:viewCreativeImg($!{data.path})" class="J_lookOriginality">$!{data.creativeid}</a></td>
		<td>
			#if($!data.state == 1)
				启用
			#else
				停用
			#end
		</td>
		<td>
			#if($!data.checkstate == 0)
				审核中
			#elseif ($!data.checkstate == 1)
				审核成功
			#else
				审核失败
			#end
		</td>
		<td>$!{data.createtimestr}</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
	</tr>
#end