<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hy.dao.mybatis.mapper.AdvertisementCollimationMapper" >
  <resultMap id="BaseResultMap" type="com.hy.dao.mybatis.model.AdvertisementCollimation" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="basic_id" property="basicId" jdbcType="INTEGER" />
    <result column="area_state" property="areaState" jdbcType="INTEGER" />
    <result column="area_value_json" property="areaValueJson" jdbcType="VARCHAR" />
    <result column="sex_state" property="sexState" jdbcType="INTEGER" />
    <result column="sex_value_json" property="sexValueJson" jdbcType="VARCHAR" />
    <result column="age_state" property="ageState" jdbcType="INTEGER" />
    <result column="age_value_json" property="ageValueJson" jdbcType="VARCHAR" />
    <result column="interest_state" property="interestState" jdbcType="INTEGER" />
    <result column="interest_value_json" property="interestValueJson" jdbcType="VARCHAR" />
    <result column="operating_system_state" property="operatingSystemState" jdbcType="INTEGER" />
    <result column="operating_system_value_json" property="operatingSystemValueJson" jdbcType="VARCHAR" />
    <result column="network_environment_state" property="networkEnvironmentState" jdbcType="INTEGER" />
    <result column="network_environment_value_json" property="networkEnvironmentValueJson" jdbcType="VARCHAR" />
    <result column="operator_state" property="operatorState" jdbcType="INTEGER" />
    <result column="operator_value_json" property="operatorValueJson" jdbcType="VARCHAR" />
    <result column="device_type_state" property="deviceTypeState" jdbcType="INTEGER" />
    <result column="device_type_value_json" property="deviceTypeValueJson" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, basic_id, area_state, area_value_json, sex_state, sex_value_json, age_state, 
    age_value_json, interest_state, interest_value_json, operating_system_state, operating_system_value_json, 
    network_environment_state, network_environment_value_json, operator_state, operator_value_json, 
    device_type_state, device_type_value_json
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hy.dao.mybatis.model.AdvertisementCollimationCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from yx_advertisement_collimation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from yx_advertisement_collimation
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from yx_advertisement_collimation
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hy.dao.mybatis.model.AdvertisementCollimationCriteria" >
    delete from yx_advertisement_collimation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hy.dao.mybatis.model.AdvertisementCollimation" >
    insert into yx_advertisement_collimation (id, basic_id, area_state, 
      area_value_json, sex_state, sex_value_json, 
      age_state, age_value_json, interest_state, 
      interest_value_json, operating_system_state, 
      operating_system_value_json, network_environment_state, 
      network_environment_value_json, operator_state, 
      operator_value_json, device_type_state, device_type_value_json
      )
    values (#{id,jdbcType=INTEGER}, #{basicId,jdbcType=INTEGER}, #{areaState,jdbcType=INTEGER}, 
      #{areaValueJson,jdbcType=VARCHAR}, #{sexState,jdbcType=INTEGER}, #{sexValueJson,jdbcType=VARCHAR}, 
      #{ageState,jdbcType=INTEGER}, #{ageValueJson,jdbcType=VARCHAR}, #{interestState,jdbcType=INTEGER}, 
      #{interestValueJson,jdbcType=VARCHAR}, #{operatingSystemState,jdbcType=INTEGER}, 
      #{operatingSystemValueJson,jdbcType=VARCHAR}, #{networkEnvironmentState,jdbcType=INTEGER}, 
      #{networkEnvironmentValueJson,jdbcType=VARCHAR}, #{operatorState,jdbcType=INTEGER}, 
      #{operatorValueJson,jdbcType=VARCHAR}, #{deviceTypeState,jdbcType=INTEGER}, #{deviceTypeValueJson,jdbcType=VARCHAR}
      )
    <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id" >
      SELECT LAST_INSERT_ID()
    </selectKey>
  </insert>
  <insert id="insertSelective" parameterType="com.hy.dao.mybatis.model.AdvertisementCollimation" >
    insert into yx_advertisement_collimation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="basicId != null" >
        basic_id,
      </if>
      <if test="areaState != null" >
        area_state,
      </if>
      <if test="areaValueJson != null" >
        area_value_json,
      </if>
      <if test="sexState != null" >
        sex_state,
      </if>
      <if test="sexValueJson != null" >
        sex_value_json,
      </if>
      <if test="ageState != null" >
        age_state,
      </if>
      <if test="ageValueJson != null" >
        age_value_json,
      </if>
      <if test="interestState != null" >
        interest_state,
      </if>
      <if test="interestValueJson != null" >
        interest_value_json,
      </if>
      <if test="operatingSystemState != null" >
        operating_system_state,
      </if>
      <if test="operatingSystemValueJson != null" >
        operating_system_value_json,
      </if>
      <if test="networkEnvironmentState != null" >
        network_environment_state,
      </if>
      <if test="networkEnvironmentValueJson != null" >
        network_environment_value_json,
      </if>
      <if test="operatorState != null" >
        operator_state,
      </if>
      <if test="operatorValueJson != null" >
        operator_value_json,
      </if>
      <if test="deviceTypeState != null" >
        device_type_state,
      </if>
      <if test="deviceTypeValueJson != null" >
        device_type_value_json,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="basicId != null" >
        #{basicId,jdbcType=INTEGER},
      </if>
      <if test="areaState != null" >
        #{areaState,jdbcType=INTEGER},
      </if>
      <if test="areaValueJson != null" >
        #{areaValueJson,jdbcType=VARCHAR},
      </if>
      <if test="sexState != null" >
        #{sexState,jdbcType=INTEGER},
      </if>
      <if test="sexValueJson != null" >
        #{sexValueJson,jdbcType=VARCHAR},
      </if>
      <if test="ageState != null" >
        #{ageState,jdbcType=INTEGER},
      </if>
      <if test="ageValueJson != null" >
        #{ageValueJson,jdbcType=VARCHAR},
      </if>
      <if test="interestState != null" >
        #{interestState,jdbcType=INTEGER},
      </if>
      <if test="interestValueJson != null" >
        #{interestValueJson,jdbcType=VARCHAR},
      </if>
      <if test="operatingSystemState != null" >
        #{operatingSystemState,jdbcType=INTEGER},
      </if>
      <if test="operatingSystemValueJson != null" >
        #{operatingSystemValueJson,jdbcType=VARCHAR},
      </if>
      <if test="networkEnvironmentState != null" >
        #{networkEnvironmentState,jdbcType=INTEGER},
      </if>
      <if test="networkEnvironmentValueJson != null" >
        #{networkEnvironmentValueJson,jdbcType=VARCHAR},
      </if>
      <if test="operatorState != null" >
        #{operatorState,jdbcType=INTEGER},
      </if>
      <if test="operatorValueJson != null" >
        #{operatorValueJson,jdbcType=VARCHAR},
      </if>
      <if test="deviceTypeState != null" >
        #{deviceTypeState,jdbcType=INTEGER},
      </if>
      <if test="deviceTypeValueJson != null" >
        #{deviceTypeValueJson,jdbcType=VARCHAR},
      </if>
    </trim>
    <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id" >
      SELECT LAST_INSERT_ID()
    </selectKey>
  </insert>
  <select id="countByExample" parameterType="com.hy.dao.mybatis.model.AdvertisementCollimationCriteria" resultType="java.lang.Integer" >
    select count(*) from yx_advertisement_collimation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update yx_advertisement_collimation
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.basicId != null" >
        basic_id = #{record.basicId,jdbcType=INTEGER},
      </if>
      <if test="record.areaState != null" >
        area_state = #{record.areaState,jdbcType=INTEGER},
      </if>
      <if test="record.areaValueJson != null" >
        area_value_json = #{record.areaValueJson,jdbcType=VARCHAR},
      </if>
      <if test="record.sexState != null" >
        sex_state = #{record.sexState,jdbcType=INTEGER},
      </if>
      <if test="record.sexValueJson != null" >
        sex_value_json = #{record.sexValueJson,jdbcType=VARCHAR},
      </if>
      <if test="record.ageState != null" >
        age_state = #{record.ageState,jdbcType=INTEGER},
      </if>
      <if test="record.ageValueJson != null" >
        age_value_json = #{record.ageValueJson,jdbcType=VARCHAR},
      </if>
      <if test="record.interestState != null" >
        interest_state = #{record.interestState,jdbcType=INTEGER},
      </if>
      <if test="record.interestValueJson != null" >
        interest_value_json = #{record.interestValueJson,jdbcType=VARCHAR},
      </if>
      <if test="record.operatingSystemState != null" >
        operating_system_state = #{record.operatingSystemState,jdbcType=INTEGER},
      </if>
      <if test="record.operatingSystemValueJson != null" >
        operating_system_value_json = #{record.operatingSystemValueJson,jdbcType=VARCHAR},
      </if>
      <if test="record.networkEnvironmentState != null" >
        network_environment_state = #{record.networkEnvironmentState,jdbcType=INTEGER},
      </if>
      <if test="record.networkEnvironmentValueJson != null" >
        network_environment_value_json = #{record.networkEnvironmentValueJson,jdbcType=VARCHAR},
      </if>
      <if test="record.operatorState != null" >
        operator_state = #{record.operatorState,jdbcType=INTEGER},
      </if>
      <if test="record.operatorValueJson != null" >
        operator_value_json = #{record.operatorValueJson,jdbcType=VARCHAR},
      </if>
      <if test="record.deviceTypeState != null" >
        device_type_state = #{record.deviceTypeState,jdbcType=INTEGER},
      </if>
      <if test="record.deviceTypeValueJson != null" >
        device_type_value_json = #{record.deviceTypeValueJson,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update yx_advertisement_collimation
    set id = #{record.id,jdbcType=INTEGER},
      basic_id = #{record.basicId,jdbcType=INTEGER},
      area_state = #{record.areaState,jdbcType=INTEGER},
      area_value_json = #{record.areaValueJson,jdbcType=VARCHAR},
      sex_state = #{record.sexState,jdbcType=INTEGER},
      sex_value_json = #{record.sexValueJson,jdbcType=VARCHAR},
      age_state = #{record.ageState,jdbcType=INTEGER},
      age_value_json = #{record.ageValueJson,jdbcType=VARCHAR},
      interest_state = #{record.interestState,jdbcType=INTEGER},
      interest_value_json = #{record.interestValueJson,jdbcType=VARCHAR},
      operating_system_state = #{record.operatingSystemState,jdbcType=INTEGER},
      operating_system_value_json = #{record.operatingSystemValueJson,jdbcType=VARCHAR},
      network_environment_state = #{record.networkEnvironmentState,jdbcType=INTEGER},
      network_environment_value_json = #{record.networkEnvironmentValueJson,jdbcType=VARCHAR},
      operator_state = #{record.operatorState,jdbcType=INTEGER},
      operator_value_json = #{record.operatorValueJson,jdbcType=VARCHAR},
      device_type_state = #{record.deviceTypeState,jdbcType=INTEGER},
      device_type_value_json = #{record.deviceTypeValueJson,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hy.dao.mybatis.model.AdvertisementCollimation" >
    update yx_advertisement_collimation
    <set >
      <if test="basicId != null" >
        basic_id = #{basicId,jdbcType=INTEGER},
      </if>
      <if test="areaState != null" >
        area_state = #{areaState,jdbcType=INTEGER},
      </if>
      <if test="areaValueJson != null" >
        area_value_json = #{areaValueJson,jdbcType=VARCHAR},
      </if>
      <if test="sexState != null" >
        sex_state = #{sexState,jdbcType=INTEGER},
      </if>
      <if test="sexValueJson != null" >
        sex_value_json = #{sexValueJson,jdbcType=VARCHAR},
      </if>
      <if test="ageState != null" >
        age_state = #{ageState,jdbcType=INTEGER},
      </if>
      <if test="ageValueJson != null" >
        age_value_json = #{ageValueJson,jdbcType=VARCHAR},
      </if>
      <if test="interestState != null" >
        interest_state = #{interestState,jdbcType=INTEGER},
      </if>
      <if test="interestValueJson != null" >
        interest_value_json = #{interestValueJson,jdbcType=VARCHAR},
      </if>
      <if test="operatingSystemState != null" >
        operating_system_state = #{operatingSystemState,jdbcType=INTEGER},
      </if>
      <if test="operatingSystemValueJson != null" >
        operating_system_value_json = #{operatingSystemValueJson,jdbcType=VARCHAR},
      </if>
      <if test="networkEnvironmentState != null" >
        network_environment_state = #{networkEnvironmentState,jdbcType=INTEGER},
      </if>
      <if test="networkEnvironmentValueJson != null" >
        network_environment_value_json = #{networkEnvironmentValueJson,jdbcType=VARCHAR},
      </if>
      <if test="operatorState != null" >
        operator_state = #{operatorState,jdbcType=INTEGER},
      </if>
      <if test="operatorValueJson != null" >
        operator_value_json = #{operatorValueJson,jdbcType=VARCHAR},
      </if>
      <if test="deviceTypeState != null" >
        device_type_state = #{deviceTypeState,jdbcType=INTEGER},
      </if>
      <if test="deviceTypeValueJson != null" >
        device_type_value_json = #{deviceTypeValueJson,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hy.dao.mybatis.model.AdvertisementCollimation" >
    update yx_advertisement_collimation
    set basic_id = #{basicId,jdbcType=INTEGER},
      area_state = #{areaState,jdbcType=INTEGER},
      area_value_json = #{areaValueJson,jdbcType=VARCHAR},
      sex_state = #{sexState,jdbcType=INTEGER},
      sex_value_json = #{sexValueJson,jdbcType=VARCHAR},
      age_state = #{ageState,jdbcType=INTEGER},
      age_value_json = #{ageValueJson,jdbcType=VARCHAR},
      interest_state = #{interestState,jdbcType=INTEGER},
      interest_value_json = #{interestValueJson,jdbcType=VARCHAR},
      operating_system_state = #{operatingSystemState,jdbcType=INTEGER},
      operating_system_value_json = #{operatingSystemValueJson,jdbcType=VARCHAR},
      network_environment_state = #{networkEnvironmentState,jdbcType=INTEGER},
      network_environment_value_json = #{networkEnvironmentValueJson,jdbcType=VARCHAR},
      operator_state = #{operatorState,jdbcType=INTEGER},
      operator_value_json = #{operatorValueJson,jdbcType=VARCHAR},
      device_type_state = #{deviceTypeState,jdbcType=INTEGER},
      device_type_value_json = #{deviceTypeValueJson,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByExampleForOne" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from yx_advertisement_collimation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>