<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hy.dao.mybatis.mapper.AdvertiserMapper" >
  <resultMap id="BaseResultMap" type="com.hy.dao.mybatis.model.Advertiser" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="market_busniess_user" property="marketBusniessUser" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="contact" property="contact" jdbcType="VARCHAR" />
    <result column="telphone" property="telphone" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="company" property="company" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="fax" property="fax" jdbcType="VARCHAR" />
    <result column="company_email" property="companyEmail" jdbcType="VARCHAR" />
    <result column="account_type" property="accountType" jdbcType="INTEGER" />
    <result column="number" property="number" jdbcType="VARCHAR" />
    <result column="money_limitation" property="moneyLimitation" jdbcType="DECIMAL" />
    <result column="check_state" property="checkState" jdbcType="INTEGER" />
    <result column="mapping_type" property="mappingType" jdbcType="INTEGER" />
    <result column="mapping_id" property="mappingId" jdbcType="VARCHAR" />
    <result column="account_state" property="accountState" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="operate_user" property="operateUser" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, price, create_date, update_time, status, market_busniess_user, user_id, contact, 
    telphone, mobile, company, address, fax, company_email, account_type, number, money_limitation, 
    check_state, mapping_type, mapping_id, account_state, type, operate_user
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hy.dao.mybatis.model.AdvertiserCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from yx_advertiser
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from yx_advertiser
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from yx_advertiser
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hy.dao.mybatis.model.AdvertiserCriteria" >
    delete from yx_advertiser
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hy.dao.mybatis.model.Advertiser" >
    insert into yx_advertiser (id, price, create_date, 
      update_time, status, market_busniess_user, 
      user_id, contact, telphone, 
      mobile, company, address, 
      fax, company_email, account_type, 
      number, money_limitation, check_state, 
      mapping_type, mapping_id, account_state, 
      type, operate_user)
    values (#{id,jdbcType=INTEGER}, #{price,jdbcType=VARCHAR}, #{createDate,jdbcType=BIGINT}, 
      #{updateTime,jdbcType=BIGINT}, #{status,jdbcType=INTEGER}, #{marketBusniessUser,jdbcType=INTEGER}, 
      #{userId,jdbcType=INTEGER}, #{contact,jdbcType=VARCHAR}, #{telphone,jdbcType=VARCHAR}, 
      #{mobile,jdbcType=VARCHAR}, #{company,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{fax,jdbcType=VARCHAR}, #{companyEmail,jdbcType=VARCHAR}, #{accountType,jdbcType=INTEGER}, 
      #{number,jdbcType=VARCHAR}, #{moneyLimitation,jdbcType=DECIMAL}, #{checkState,jdbcType=INTEGER}, 
      #{mappingType,jdbcType=INTEGER}, #{mappingId,jdbcType=VARCHAR}, #{accountState,jdbcType=INTEGER}, 
      #{type,jdbcType=INTEGER}, #{operateUser,jdbcType=INTEGER})
    <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id" >
      SELECT LAST_INSERT_ID()
    </selectKey>
  </insert>
  <insert id="insertSelective" parameterType="com.hy.dao.mybatis.model.Advertiser" >
    insert into yx_advertiser
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="marketBusniessUser != null" >
        market_busniess_user,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="contact != null" >
        contact,
      </if>
      <if test="telphone != null" >
        telphone,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="company != null" >
        company,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="fax != null" >
        fax,
      </if>
      <if test="companyEmail != null" >
        company_email,
      </if>
      <if test="accountType != null" >
        account_type,
      </if>
      <if test="number != null" >
        number,
      </if>
      <if test="moneyLimitation != null" >
        money_limitation,
      </if>
      <if test="checkState != null" >
        check_state,
      </if>
      <if test="mappingType != null" >
        mapping_type,
      </if>
      <if test="mappingId != null" >
        mapping_id,
      </if>
      <if test="accountState != null" >
        account_state,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="operateUser != null" >
        operate_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="marketBusniessUser != null" >
        #{marketBusniessUser,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="contact != null" >
        #{contact,jdbcType=VARCHAR},
      </if>
      <if test="telphone != null" >
        #{telphone,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="company != null" >
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="fax != null" >
        #{fax,jdbcType=VARCHAR},
      </if>
      <if test="companyEmail != null" >
        #{companyEmail,jdbcType=VARCHAR},
      </if>
      <if test="accountType != null" >
        #{accountType,jdbcType=INTEGER},
      </if>
      <if test="number != null" >
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="moneyLimitation != null" >
        #{moneyLimitation,jdbcType=DECIMAL},
      </if>
      <if test="checkState != null" >
        #{checkState,jdbcType=INTEGER},
      </if>
      <if test="mappingType != null" >
        #{mappingType,jdbcType=INTEGER},
      </if>
      <if test="mappingId != null" >
        #{mappingId,jdbcType=VARCHAR},
      </if>
      <if test="accountState != null" >
        #{accountState,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="operateUser != null" >
        #{operateUser,jdbcType=INTEGER},
      </if>
    </trim>
    <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id" >
      SELECT LAST_INSERT_ID()
    </selectKey>
  </insert>
  <select id="countByExample" parameterType="com.hy.dao.mybatis.model.AdvertiserCriteria" resultType="java.lang.Integer" >
    select count(*) from yx_advertiser
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update yx_advertiser
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=BIGINT},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=BIGINT},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.marketBusniessUser != null" >
        market_busniess_user = #{record.marketBusniessUser,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.contact != null" >
        contact = #{record.contact,jdbcType=VARCHAR},
      </if>
      <if test="record.telphone != null" >
        telphone = #{record.telphone,jdbcType=VARCHAR},
      </if>
      <if test="record.mobile != null" >
        mobile = #{record.mobile,jdbcType=VARCHAR},
      </if>
      <if test="record.company != null" >
        company = #{record.company,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.fax != null" >
        fax = #{record.fax,jdbcType=VARCHAR},
      </if>
      <if test="record.companyEmail != null" >
        company_email = #{record.companyEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.accountType != null" >
        account_type = #{record.accountType,jdbcType=INTEGER},
      </if>
      <if test="record.number != null" >
        number = #{record.number,jdbcType=VARCHAR},
      </if>
      <if test="record.moneyLimitation != null" >
        money_limitation = #{record.moneyLimitation,jdbcType=DECIMAL},
      </if>
      <if test="record.checkState != null" >
        check_state = #{record.checkState,jdbcType=INTEGER},
      </if>
      <if test="record.mappingType != null" >
        mapping_type = #{record.mappingType,jdbcType=INTEGER},
      </if>
      <if test="record.mappingId != null" >
        mapping_id = #{record.mappingId,jdbcType=VARCHAR},
      </if>
      <if test="record.accountState != null" >
        account_state = #{record.accountState,jdbcType=INTEGER},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.operateUser != null" >
        operate_user = #{record.operateUser,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update yx_advertiser
    set id = #{record.id,jdbcType=INTEGER},
      price = #{record.price,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=BIGINT},
      update_time = #{record.updateTime,jdbcType=BIGINT},
      status = #{record.status,jdbcType=INTEGER},
      market_busniess_user = #{record.marketBusniessUser,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      contact = #{record.contact,jdbcType=VARCHAR},
      telphone = #{record.telphone,jdbcType=VARCHAR},
      mobile = #{record.mobile,jdbcType=VARCHAR},
      company = #{record.company,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      fax = #{record.fax,jdbcType=VARCHAR},
      company_email = #{record.companyEmail,jdbcType=VARCHAR},
      account_type = #{record.accountType,jdbcType=INTEGER},
      number = #{record.number,jdbcType=VARCHAR},
      money_limitation = #{record.moneyLimitation,jdbcType=DECIMAL},
      check_state = #{record.checkState,jdbcType=INTEGER},
      mapping_type = #{record.mappingType,jdbcType=INTEGER},
      mapping_id = #{record.mappingId,jdbcType=VARCHAR},
      account_state = #{record.accountState,jdbcType=INTEGER},
      type = #{record.type,jdbcType=INTEGER},
      operate_user = #{record.operateUser,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hy.dao.mybatis.model.Advertiser" >
    update yx_advertiser
    <set >
      <if test="price != null" >
        price = #{price,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="marketBusniessUser != null" >
        market_busniess_user = #{marketBusniessUser,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="contact != null" >
        contact = #{contact,jdbcType=VARCHAR},
      </if>
      <if test="telphone != null" >
        telphone = #{telphone,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="company != null" >
        company = #{company,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="fax != null" >
        fax = #{fax,jdbcType=VARCHAR},
      </if>
      <if test="companyEmail != null" >
        company_email = #{companyEmail,jdbcType=VARCHAR},
      </if>
      <if test="accountType != null" >
        account_type = #{accountType,jdbcType=INTEGER},
      </if>
      <if test="number != null" >
        number = #{number,jdbcType=VARCHAR},
      </if>
      <if test="moneyLimitation != null" >
        money_limitation = #{moneyLimitation,jdbcType=DECIMAL},
      </if>
      <if test="checkState != null" >
        check_state = #{checkState,jdbcType=INTEGER},
      </if>
      <if test="mappingType != null" >
        mapping_type = #{mappingType,jdbcType=INTEGER},
      </if>
      <if test="mappingId != null" >
        mapping_id = #{mappingId,jdbcType=VARCHAR},
      </if>
      <if test="accountState != null" >
        account_state = #{accountState,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="operateUser != null" >
        operate_user = #{operateUser,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hy.dao.mybatis.model.Advertiser" >
    update yx_advertiser
    set price = #{price,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=BIGINT},
      status = #{status,jdbcType=INTEGER},
      market_busniess_user = #{marketBusniessUser,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      contact = #{contact,jdbcType=VARCHAR},
      telphone = #{telphone,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      company = #{company,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      fax = #{fax,jdbcType=VARCHAR},
      company_email = #{companyEmail,jdbcType=VARCHAR},
      account_type = #{accountType,jdbcType=INTEGER},
      number = #{number,jdbcType=VARCHAR},
      money_limitation = #{moneyLimitation,jdbcType=DECIMAL},
      check_state = #{checkState,jdbcType=INTEGER},
      mapping_type = #{mappingType,jdbcType=INTEGER},
      mapping_id = #{mappingId,jdbcType=VARCHAR},
      account_state = #{accountState,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      operate_user = #{operateUser,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByExampleForOne" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from yx_advertiser
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>