<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hy.dao.mybatis.mapper.AdvertisementPricingMapper" >
  <resultMap id="BaseResultMap" type="com.hy.dao.mybatis.model.AdvertisementPricing" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="charge_way" property="chargeWay" jdbcType="INTEGER" />
    <result column="check_ best _bid" property="checkBestBid" jdbcType="DECIMAL" />
    <result column="day_expenditure_quota" property="dayExpenditureQuota" jdbcType="DECIMAL" />
    <result column="exposure_frequency_unit" property="exposureFrequencyUnit" jdbcType="INTEGER" />
    <result column="exposure_frequency_no" property="exposureFrequencyNo" jdbcType="INTEGER" />
    <result column="check_freque_unit" property="checkFrequeUnit" jdbcType="INTEGER" />
    <result column="check_freque_everyone_unit" property="checkFrequeEveryoneUnit" jdbcType="INTEGER" />
    <result column="basic_id" property="basicId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, charge_way, "check_ best _bid", day_expenditure_quota, exposure_frequency_unit, 
    exposure_frequency_no, check_freque_unit, check_freque_everyone_unit, basic_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hy.dao.mybatis.model.AdvertisementPricingCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from yx_advertisement_pricing
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from yx_advertisement_pricing
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from yx_advertisement_pricing
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hy.dao.mybatis.model.AdvertisementPricingCriteria" >
    delete from yx_advertisement_pricing
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hy.dao.mybatis.model.AdvertisementPricing" >
    insert into yx_advertisement_pricing (id, charge_way, "check_ best _bid", 
      day_expenditure_quota, exposure_frequency_unit, 
      exposure_frequency_no, check_freque_unit, check_freque_everyone_unit, 
      basic_id)
    values (#{id,jdbcType=INTEGER}, #{chargeWay,jdbcType=INTEGER}, #{checkBestBid,jdbcType=DECIMAL}, 
      #{dayExpenditureQuota,jdbcType=DECIMAL}, #{exposureFrequencyUnit,jdbcType=INTEGER}, 
      #{exposureFrequencyNo,jdbcType=INTEGER}, #{checkFrequeUnit,jdbcType=INTEGER}, #{checkFrequeEveryoneUnit,jdbcType=INTEGER}, 
      #{basicId,jdbcType=INTEGER})
    <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id" >
      SELECT LAST_INSERT_ID()
    </selectKey>
  </insert>
  <insert id="insertSelective" parameterType="com.hy.dao.mybatis.model.AdvertisementPricing" >
    insert into yx_advertisement_pricing
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="chargeWay != null" >
        charge_way,
      </if>
      <if test="checkBestBid != null" >
        "check_ best _bid",
      </if>
      <if test="dayExpenditureQuota != null" >
        day_expenditure_quota,
      </if>
      <if test="exposureFrequencyUnit != null" >
        exposure_frequency_unit,
      </if>
      <if test="exposureFrequencyNo != null" >
        exposure_frequency_no,
      </if>
      <if test="checkFrequeUnit != null" >
        check_freque_unit,
      </if>
      <if test="checkFrequeEveryoneUnit != null" >
        check_freque_everyone_unit,
      </if>
      <if test="basicId != null" >
        basic_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="chargeWay != null" >
        #{chargeWay,jdbcType=INTEGER},
      </if>
      <if test="checkBestBid != null" >
        #{checkBestBid,jdbcType=DECIMAL},
      </if>
      <if test="dayExpenditureQuota != null" >
        #{dayExpenditureQuota,jdbcType=DECIMAL},
      </if>
      <if test="exposureFrequencyUnit != null" >
        #{exposureFrequencyUnit,jdbcType=INTEGER},
      </if>
      <if test="exposureFrequencyNo != null" >
        #{exposureFrequencyNo,jdbcType=INTEGER},
      </if>
      <if test="checkFrequeUnit != null" >
        #{checkFrequeUnit,jdbcType=INTEGER},
      </if>
      <if test="checkFrequeEveryoneUnit != null" >
        #{checkFrequeEveryoneUnit,jdbcType=INTEGER},
      </if>
      <if test="basicId != null" >
        #{basicId,jdbcType=INTEGER},
      </if>
    </trim>
    <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id" >
      SELECT LAST_INSERT_ID()
    </selectKey>
  </insert>
  <select id="countByExample" parameterType="com.hy.dao.mybatis.model.AdvertisementPricingCriteria" resultType="java.lang.Integer" >
    select count(*) from yx_advertisement_pricing
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update yx_advertisement_pricing
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.chargeWay != null" >
        charge_way = #{record.chargeWay,jdbcType=INTEGER},
      </if>
      <if test="record.checkBestBid != null" >
        "check_ best _bid" = #{record.checkBestBid,jdbcType=DECIMAL},
      </if>
      <if test="record.dayExpenditureQuota != null" >
        day_expenditure_quota = #{record.dayExpenditureQuota,jdbcType=DECIMAL},
      </if>
      <if test="record.exposureFrequencyUnit != null" >
        exposure_frequency_unit = #{record.exposureFrequencyUnit,jdbcType=INTEGER},
      </if>
      <if test="record.exposureFrequencyNo != null" >
        exposure_frequency_no = #{record.exposureFrequencyNo,jdbcType=INTEGER},
      </if>
      <if test="record.checkFrequeUnit != null" >
        check_freque_unit = #{record.checkFrequeUnit,jdbcType=INTEGER},
      </if>
      <if test="record.checkFrequeEveryoneUnit != null" >
        check_freque_everyone_unit = #{record.checkFrequeEveryoneUnit,jdbcType=INTEGER},
      </if>
      <if test="record.basicId != null" >
        basic_id = #{record.basicId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update yx_advertisement_pricing
    set id = #{record.id,jdbcType=INTEGER},
      charge_way = #{record.chargeWay,jdbcType=INTEGER},
      "check_ best _bid" = #{record.checkBestBid,jdbcType=DECIMAL},
      day_expenditure_quota = #{record.dayExpenditureQuota,jdbcType=DECIMAL},
      exposure_frequency_unit = #{record.exposureFrequencyUnit,jdbcType=INTEGER},
      exposure_frequency_no = #{record.exposureFrequencyNo,jdbcType=INTEGER},
      check_freque_unit = #{record.checkFrequeUnit,jdbcType=INTEGER},
      check_freque_everyone_unit = #{record.checkFrequeEveryoneUnit,jdbcType=INTEGER},
      basic_id = #{record.basicId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hy.dao.mybatis.model.AdvertisementPricing" >
    update yx_advertisement_pricing
    <set >
      <if test="chargeWay != null" >
        charge_way = #{chargeWay,jdbcType=INTEGER},
      </if>
      <if test="checkBestBid != null" >
        "check_ best _bid" = #{checkBestBid,jdbcType=DECIMAL},
      </if>
      <if test="dayExpenditureQuota != null" >
        day_expenditure_quota = #{dayExpenditureQuota,jdbcType=DECIMAL},
      </if>
      <if test="exposureFrequencyUnit != null" >
        exposure_frequency_unit = #{exposureFrequencyUnit,jdbcType=INTEGER},
      </if>
      <if test="exposureFrequencyNo != null" >
        exposure_frequency_no = #{exposureFrequencyNo,jdbcType=INTEGER},
      </if>
      <if test="checkFrequeUnit != null" >
        check_freque_unit = #{checkFrequeUnit,jdbcType=INTEGER},
      </if>
      <if test="checkFrequeEveryoneUnit != null" >
        check_freque_everyone_unit = #{checkFrequeEveryoneUnit,jdbcType=INTEGER},
      </if>
      <if test="basicId != null" >
        basic_id = #{basicId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hy.dao.mybatis.model.AdvertisementPricing" >
    update yx_advertisement_pricing
    set charge_way = #{chargeWay,jdbcType=INTEGER},
      "check_ best _bid" = #{checkBestBid,jdbcType=DECIMAL},
      day_expenditure_quota = #{dayExpenditureQuota,jdbcType=DECIMAL},
      exposure_frequency_unit = #{exposureFrequencyUnit,jdbcType=INTEGER},
      exposure_frequency_no = #{exposureFrequencyNo,jdbcType=INTEGER},
      check_freque_unit = #{checkFrequeUnit,jdbcType=INTEGER},
      check_freque_everyone_unit = #{checkFrequeEveryoneUnit,jdbcType=INTEGER},
      basic_id = #{basicId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByExampleForOne" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from yx_advertisement_pricing
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>