<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hy.dao.mybatis.mapper.AdvertisementCollimationMapper" >
  <resultMap id="BaseResultMap" type="com.hy.dao.mybatis.model.AdvertisementCollimation" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="basic_id" property="basicId" jdbcType="INTEGER" />
    <result column="run_time_state" property="runTimeState" jdbcType="INTEGER" />
    <result column="run_time_value_json" property="runTimeValueJson" jdbcType="VARCHAR" />
    <result column="area_state" property="areaState" jdbcType="INTEGER" />
    <result column="area_value_json" property="areaValueJson" jdbcType="VARCHAR" />
    <result column="flux_state" property="fluxState" jdbcType="VARCHAR" />
    <result column="flux_value_json" property="fluxValueJson" jdbcType="VARCHAR" />
    <result column="sex_state" property="sexState" jdbcType="VARCHAR" />
    <result column="sex_value_json" property="sexValueJson" jdbcType="VARCHAR" />
    <result column="age_state" property="ageState" jdbcType="VARCHAR" />
    <result column="age_value_json" property="ageValueJson" jdbcType="VARCHAR" />
    <result column="constellation_state" property="constellationState" jdbcType="VARCHAR" />
    <result column="constellation_value_json" property="constellationValueJson" jdbcType="VARCHAR" />
    <result column="education_state" property="educationState" jdbcType="VARCHAR" />
    <result column="education_value_json" property="educationValueJson" jdbcType="VARCHAR" />
    <result column="earning_state" property="earningState" jdbcType="VARCHAR" />
    <result column="earning_value_json" property="earningValueJson" jdbcType="VARCHAR" />
    <result column="emotion_state" property="emotionState" jdbcType="VARCHAR" />
    <result column="emotion_value_json" property="emotionValueJson" jdbcType="VARCHAR" />
    <result column="interest_state" property="interestState" jdbcType="VARCHAR" />
    <result column="interest_value_json" property="interestValueJson" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, basic_id, run_time_state, run_time_value_json, area_state, area_value_json, flux_state, 
    flux_value_json, sex_state, sex_value_json, age_state, age_value_json, constellation_state, 
    constellation_value_json, education_state, education_value_json, earning_state, earning_value_json, 
    emotion_state, emotion_value_json, interest_state, interest_value_json
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hy.dao.mybatis.model.AdvertisementCollimationCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from yx_advertisement_collimation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from yx_advertisement_collimation
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from yx_advertisement_collimation
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hy.dao.mybatis.model.AdvertisementCollimationCriteria" >
    delete from yx_advertisement_collimation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hy.dao.mybatis.model.AdvertisementCollimation" >
    insert into yx_advertisement_collimation (id, basic_id, run_time_state, 
      run_time_value_json, area_state, area_value_json, 
      flux_state, flux_value_json, sex_state, 
      sex_value_json, age_state, age_value_json, 
      constellation_state, constellation_value_json, 
      education_state, education_value_json, earning_state, 
      earning_value_json, emotion_state, emotion_value_json, 
      interest_state, interest_value_json)
    values (#{id,jdbcType=INTEGER}, #{basicId,jdbcType=INTEGER}, #{runTimeState,jdbcType=INTEGER}, 
      #{runTimeValueJson,jdbcType=VARCHAR}, #{areaState,jdbcType=INTEGER}, #{areaValueJson,jdbcType=VARCHAR}, 
      #{fluxState,jdbcType=VARCHAR}, #{fluxValueJson,jdbcType=VARCHAR}, #{sexState,jdbcType=VARCHAR}, 
      #{sexValueJson,jdbcType=VARCHAR}, #{ageState,jdbcType=VARCHAR}, #{ageValueJson,jdbcType=VARCHAR}, 
      #{constellationState,jdbcType=VARCHAR}, #{constellationValueJson,jdbcType=VARCHAR}, 
      #{educationState,jdbcType=VARCHAR}, #{educationValueJson,jdbcType=VARCHAR}, #{earningState,jdbcType=VARCHAR}, 
      #{earningValueJson,jdbcType=VARCHAR}, #{emotionState,jdbcType=VARCHAR}, #{emotionValueJson,jdbcType=VARCHAR}, 
      #{interestState,jdbcType=VARCHAR}, #{interestValueJson,jdbcType=VARCHAR})
    <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id" >
      SELECT LAST_INSERT_ID()
    </selectKey>
  </insert>
  <insert id="insertSelective" parameterType="com.hy.dao.mybatis.model.AdvertisementCollimation" >
    insert into yx_advertisement_collimation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="basicId != null" >
        basic_id,
      </if>
      <if test="runTimeState != null" >
        run_time_state,
      </if>
      <if test="runTimeValueJson != null" >
        run_time_value_json,
      </if>
      <if test="areaState != null" >
        area_state,
      </if>
      <if test="areaValueJson != null" >
        area_value_json,
      </if>
      <if test="fluxState != null" >
        flux_state,
      </if>
      <if test="fluxValueJson != null" >
        flux_value_json,
      </if>
      <if test="sexState != null" >
        sex_state,
      </if>
      <if test="sexValueJson != null" >
        sex_value_json,
      </if>
      <if test="ageState != null" >
        age_state,
      </if>
      <if test="ageValueJson != null" >
        age_value_json,
      </if>
      <if test="constellationState != null" >
        constellation_state,
      </if>
      <if test="constellationValueJson != null" >
        constellation_value_json,
      </if>
      <if test="educationState != null" >
        education_state,
      </if>
      <if test="educationValueJson != null" >
        education_value_json,
      </if>
      <if test="earningState != null" >
        earning_state,
      </if>
      <if test="earningValueJson != null" >
        earning_value_json,
      </if>
      <if test="emotionState != null" >
        emotion_state,
      </if>
      <if test="emotionValueJson != null" >
        emotion_value_json,
      </if>
      <if test="interestState != null" >
        interest_state,
      </if>
      <if test="interestValueJson != null" >
        interest_value_json,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="basicId != null" >
        #{basicId,jdbcType=INTEGER},
      </if>
      <if test="runTimeState != null" >
        #{runTimeState,jdbcType=INTEGER},
      </if>
      <if test="runTimeValueJson != null" >
        #{runTimeValueJson,jdbcType=VARCHAR},
      </if>
      <if test="areaState != null" >
        #{areaState,jdbcType=INTEGER},
      </if>
      <if test="areaValueJson != null" >
        #{areaValueJson,jdbcType=VARCHAR},
      </if>
      <if test="fluxState != null" >
        #{fluxState,jdbcType=VARCHAR},
      </if>
      <if test="fluxValueJson != null" >
        #{fluxValueJson,jdbcType=VARCHAR},
      </if>
      <if test="sexState != null" >
        #{sexState,jdbcType=VARCHAR},
      </if>
      <if test="sexValueJson != null" >
        #{sexValueJson,jdbcType=VARCHAR},
      </if>
      <if test="ageState != null" >
        #{ageState,jdbcType=VARCHAR},
      </if>
      <if test="ageValueJson != null" >
        #{ageValueJson,jdbcType=VARCHAR},
      </if>
      <if test="constellationState != null" >
        #{constellationState,jdbcType=VARCHAR},
      </if>
      <if test="constellationValueJson != null" >
        #{constellationValueJson,jdbcType=VARCHAR},
      </if>
      <if test="educationState != null" >
        #{educationState,jdbcType=VARCHAR},
      </if>
      <if test="educationValueJson != null" >
        #{educationValueJson,jdbcType=VARCHAR},
      </if>
      <if test="earningState != null" >
        #{earningState,jdbcType=VARCHAR},
      </if>
      <if test="earningValueJson != null" >
        #{earningValueJson,jdbcType=VARCHAR},
      </if>
      <if test="emotionState != null" >
        #{emotionState,jdbcType=VARCHAR},
      </if>
      <if test="emotionValueJson != null" >
        #{emotionValueJson,jdbcType=VARCHAR},
      </if>
      <if test="interestState != null" >
        #{interestState,jdbcType=VARCHAR},
      </if>
      <if test="interestValueJson != null" >
        #{interestValueJson,jdbcType=VARCHAR},
      </if>
    </trim>
    <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id" >
      SELECT LAST_INSERT_ID()
    </selectKey>
  </insert>
  <select id="countByExample" parameterType="com.hy.dao.mybatis.model.AdvertisementCollimationCriteria" resultType="java.lang.Integer" >
    select count(*) from yx_advertisement_collimation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update yx_advertisement_collimation
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.basicId != null" >
        basic_id = #{record.basicId,jdbcType=INTEGER},
      </if>
      <if test="record.runTimeState != null" >
        run_time_state = #{record.runTimeState,jdbcType=INTEGER},
      </if>
      <if test="record.runTimeValueJson != null" >
        run_time_value_json = #{record.runTimeValueJson,jdbcType=VARCHAR},
      </if>
      <if test="record.areaState != null" >
        area_state = #{record.areaState,jdbcType=INTEGER},
      </if>
      <if test="record.areaValueJson != null" >
        area_value_json = #{record.areaValueJson,jdbcType=VARCHAR},
      </if>
      <if test="record.fluxState != null" >
        flux_state = #{record.fluxState,jdbcType=VARCHAR},
      </if>
      <if test="record.fluxValueJson != null" >
        flux_value_json = #{record.fluxValueJson,jdbcType=VARCHAR},
      </if>
      <if test="record.sexState != null" >
        sex_state = #{record.sexState,jdbcType=VARCHAR},
      </if>
      <if test="record.sexValueJson != null" >
        sex_value_json = #{record.sexValueJson,jdbcType=VARCHAR},
      </if>
      <if test="record.ageState != null" >
        age_state = #{record.ageState,jdbcType=VARCHAR},
      </if>
      <if test="record.ageValueJson != null" >
        age_value_json = #{record.ageValueJson,jdbcType=VARCHAR},
      </if>
      <if test="record.constellationState != null" >
        constellation_state = #{record.constellationState,jdbcType=VARCHAR},
      </if>
      <if test="record.constellationValueJson != null" >
        constellation_value_json = #{record.constellationValueJson,jdbcType=VARCHAR},
      </if>
      <if test="record.educationState != null" >
        education_state = #{record.educationState,jdbcType=VARCHAR},
      </if>
      <if test="record.educationValueJson != null" >
        education_value_json = #{record.educationValueJson,jdbcType=VARCHAR},
      </if>
      <if test="record.earningState != null" >
        earning_state = #{record.earningState,jdbcType=VARCHAR},
      </if>
      <if test="record.earningValueJson != null" >
        earning_value_json = #{record.earningValueJson,jdbcType=VARCHAR},
      </if>
      <if test="record.emotionState != null" >
        emotion_state = #{record.emotionState,jdbcType=VARCHAR},
      </if>
      <if test="record.emotionValueJson != null" >
        emotion_value_json = #{record.emotionValueJson,jdbcType=VARCHAR},
      </if>
      <if test="record.interestState != null" >
        interest_state = #{record.interestState,jdbcType=VARCHAR},
      </if>
      <if test="record.interestValueJson != null" >
        interest_value_json = #{record.interestValueJson,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update yx_advertisement_collimation
    set id = #{record.id,jdbcType=INTEGER},
      basic_id = #{record.basicId,jdbcType=INTEGER},
      run_time_state = #{record.runTimeState,jdbcType=INTEGER},
      run_time_value_json = #{record.runTimeValueJson,jdbcType=VARCHAR},
      area_state = #{record.areaState,jdbcType=INTEGER},
      area_value_json = #{record.areaValueJson,jdbcType=VARCHAR},
      flux_state = #{record.fluxState,jdbcType=VARCHAR},
      flux_value_json = #{record.fluxValueJson,jdbcType=VARCHAR},
      sex_state = #{record.sexState,jdbcType=VARCHAR},
      sex_value_json = #{record.sexValueJson,jdbcType=VARCHAR},
      age_state = #{record.ageState,jdbcType=VARCHAR},
      age_value_json = #{record.ageValueJson,jdbcType=VARCHAR},
      constellation_state = #{record.constellationState,jdbcType=VARCHAR},
      constellation_value_json = #{record.constellationValueJson,jdbcType=VARCHAR},
      education_state = #{record.educationState,jdbcType=VARCHAR},
      education_value_json = #{record.educationValueJson,jdbcType=VARCHAR},
      earning_state = #{record.earningState,jdbcType=VARCHAR},
      earning_value_json = #{record.earningValueJson,jdbcType=VARCHAR},
      emotion_state = #{record.emotionState,jdbcType=VARCHAR},
      emotion_value_json = #{record.emotionValueJson,jdbcType=VARCHAR},
      interest_state = #{record.interestState,jdbcType=VARCHAR},
      interest_value_json = #{record.interestValueJson,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hy.dao.mybatis.model.AdvertisementCollimation" >
    update yx_advertisement_collimation
    <set >
      <if test="basicId != null" >
        basic_id = #{basicId,jdbcType=INTEGER},
      </if>
      <if test="runTimeState != null" >
        run_time_state = #{runTimeState,jdbcType=INTEGER},
      </if>
      <if test="runTimeValueJson != null" >
        run_time_value_json = #{runTimeValueJson,jdbcType=VARCHAR},
      </if>
      <if test="areaState != null" >
        area_state = #{areaState,jdbcType=INTEGER},
      </if>
      <if test="areaValueJson != null" >
        area_value_json = #{areaValueJson,jdbcType=VARCHAR},
      </if>
      <if test="fluxState != null" >
        flux_state = #{fluxState,jdbcType=VARCHAR},
      </if>
      <if test="fluxValueJson != null" >
        flux_value_json = #{fluxValueJson,jdbcType=VARCHAR},
      </if>
      <if test="sexState != null" >
        sex_state = #{sexState,jdbcType=VARCHAR},
      </if>
      <if test="sexValueJson != null" >
        sex_value_json = #{sexValueJson,jdbcType=VARCHAR},
      </if>
      <if test="ageState != null" >
        age_state = #{ageState,jdbcType=VARCHAR},
      </if>
      <if test="ageValueJson != null" >
        age_value_json = #{ageValueJson,jdbcType=VARCHAR},
      </if>
      <if test="constellationState != null" >
        constellation_state = #{constellationState,jdbcType=VARCHAR},
      </if>
      <if test="constellationValueJson != null" >
        constellation_value_json = #{constellationValueJson,jdbcType=VARCHAR},
      </if>
      <if test="educationState != null" >
        education_state = #{educationState,jdbcType=VARCHAR},
      </if>
      <if test="educationValueJson != null" >
        education_value_json = #{educationValueJson,jdbcType=VARCHAR},
      </if>
      <if test="earningState != null" >
        earning_state = #{earningState,jdbcType=VARCHAR},
      </if>
      <if test="earningValueJson != null" >
        earning_value_json = #{earningValueJson,jdbcType=VARCHAR},
      </if>
      <if test="emotionState != null" >
        emotion_state = #{emotionState,jdbcType=VARCHAR},
      </if>
      <if test="emotionValueJson != null" >
        emotion_value_json = #{emotionValueJson,jdbcType=VARCHAR},
      </if>
      <if test="interestState != null" >
        interest_state = #{interestState,jdbcType=VARCHAR},
      </if>
      <if test="interestValueJson != null" >
        interest_value_json = #{interestValueJson,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hy.dao.mybatis.model.AdvertisementCollimation" >
    update yx_advertisement_collimation
    set basic_id = #{basicId,jdbcType=INTEGER},
      run_time_state = #{runTimeState,jdbcType=INTEGER},
      run_time_value_json = #{runTimeValueJson,jdbcType=VARCHAR},
      area_state = #{areaState,jdbcType=INTEGER},
      area_value_json = #{areaValueJson,jdbcType=VARCHAR},
      flux_state = #{fluxState,jdbcType=VARCHAR},
      flux_value_json = #{fluxValueJson,jdbcType=VARCHAR},
      sex_state = #{sexState,jdbcType=VARCHAR},
      sex_value_json = #{sexValueJson,jdbcType=VARCHAR},
      age_state = #{ageState,jdbcType=VARCHAR},
      age_value_json = #{ageValueJson,jdbcType=VARCHAR},
      constellation_state = #{constellationState,jdbcType=VARCHAR},
      constellation_value_json = #{constellationValueJson,jdbcType=VARCHAR},
      education_state = #{educationState,jdbcType=VARCHAR},
      education_value_json = #{educationValueJson,jdbcType=VARCHAR},
      earning_state = #{earningState,jdbcType=VARCHAR},
      earning_value_json = #{earningValueJson,jdbcType=VARCHAR},
      emotion_state = #{emotionState,jdbcType=VARCHAR},
      emotion_value_json = #{emotionValueJson,jdbcType=VARCHAR},
      interest_state = #{interestState,jdbcType=VARCHAR},
      interest_value_json = #{interestValueJson,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByExampleForOne" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from yx_advertisement_collimation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>